@charset "UTF-8";

header {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

header > h1 {
    flex: 0 0 auto;
    text-shadow: 1px 1px 3px black;
}

header > nav {
    display: flex;
    flex-flow: column nowrap;
}

header > nav > a {
    border: 1px solid black;
}
